@import "../../index.scss";
//Style h2 et h3 dans index.scss

.presentation{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 150px 150px 100px 150px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(195,220,215,1) 100%);
    text-align: center;
    
    @media(max-width: 1024px){
        padding: 150px 100px 100px 100px;
    }
    @media(max-width: 768px){
        padding: 150px 50px 50px 50px;
    }

    &__text{

        p{
        font-size: 20px;

        @media(max-width: 768px){
            font-size: 16px;
        }

            &:nth-child(1n+2){ // à compter du second <p> ajout de marges
                margin-top: 20px;
            }
        }
    }
    
    &__competences{

        display: flex;
        flex-direction: column;
        align-items: center;

        &__list{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
            margin-top: 30px;

            div{
                position: relative;
                width: 90px;
                height: 90px;
                padding: 15px;
                border: 1px solid rgba(195, 190, 190, 0.367);
                border-radius: 50%;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 10px 15px 5px rgb(190, 187, 187);
                color: $color-light-primary;
                background-color: white;
                transition : color 0.6s ease, background-color 0.6s ease box-shadow 0.6s ease;

                @media (max-width: 768px){
                    width: 68px;
                    height: 68px;
                }

                &:hover{
                    color: white;
                    background-color: $color-light-primary;
                    box-shadow: 10px 5px 5px rgb(190, 187, 187);
                }

                svg{
                    position: absolute;
                    font-size: 55px;
        
                    @media (max-width: 768px){
                        font-size: 38px;
                    }
                }

                
            }

        }

    }

}