@import "../../index.scss";

.project{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 150px 100px 100px 100px;
    min-height: 100vh;
    background: rgb(195,220,215);
    background: linear-gradient(0deg, rgba(195,220,215,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);

    @media(max-width: 1024px){
        padding: 150px 50px 50px 50px;
    }

    &__titles{
        text-align: center;
        border-bottom: 2px dashed $color-light-secondary;
        padding-bottom: 20px;
        width: 60%;

        @media(max-width: 768px){
            width: 75%;
        }
        
        @media(max-width: 425px){
            width: 100%;
        }

        h2{
            font-size: 30px;

            @media(max-width: 768px){
                font-size: 25px;
            }
            @media(max-width: 425px){
                font-size: 20px;
            }
        }

        h3{
            font-size: 22px;
            font-weight: 600;

            @media(max-width: 768px){
                font-size: 20px;
            }
            @media(max-width: 425px){
                font-size: 17px;
            }
        }
    }

    &__keywords{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        gap: 50px;

        @media(max-width: 768px){
            font-size: 14px;
            gap: 20px
        }

        @media(max-width: 425px){
            gap: 15px
        }

        .keyword{
            padding: 3px 10px;
            border: 1px solid rgba(166, 166, 166, 0.399);
            border-radius: 5px;
            box-shadow: 5px 5px 4px rgb(166, 166, 166);
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        &__image{
            width: 70%;

            img{
                width: 100%;
            }
        }

        &__description{
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: 20px;
            width: 80%;
            text-align: justify;

            @media(max-width: 768px){
                font-size: 16px;
            }
            
            @media(max-width: 425px){
                width: 100%;
                font-size: 14px;
            }

            &__context{
                font-style: italic;
            }

            h4{
                font-size: 25px;
                border-bottom: 4px solid $color-dark-primary;
                padding-bottom: 5px;
                margin-bottom: 20px;

                @media(max-width: 768px){
                    font-size: 18px;
                }

                @media(max-width: 425px){
                    font-size: 16px;
                }
            }

            li{
                list-style-type:disc;
                margin: 10px 0 0 20px;
                padding-left: 10px;
            }
        }
    }

    &__links{

        display: flex;
        gap: 40px;
        margin-top: 10px;

        &.link{
            display: flex;
            justify-content: center;
            padding: 10px 20px;
            width : 80px;
            color: $color-dark-primary;
            font-weight: 600;
            text-decoration: none;
            background-color: white;
            border: 1px solid rgba(166, 166, 166, 0.399);
            border-radius: 5px;
            box-shadow: 10px 10px 5px grey;
            font-size: 20px;
            
            @media(max-width: 768px){
                font-size: 14px;
            }
            @media(max-width: 425px){
                width: 60px;
                padding: 6px 12px;
            }

            &:hover{
                color: white;
                background-color: $color-dark-primary;
                box-shadow: 5px 5px 5px grey;
            }
        }
        
        &.inactive{
            display: none;
        }
        
    }
}