@import "../../index.scss";

@keyframes slide-in {
    100%{
        transform : translateX(0%)
    }
}

@keyframes slide-out {
    100%{
        transform: translateX(100%);
    }
}

@keyframes text-appearance {
    100%{
        color: black;
    }
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background: rgb(195,220,215);
    background: linear-gradient(0deg, rgba(195,220,215,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    height: 100vh;
    padding: 200px 150px 100px 150px;
    box-sizing: border-box;

    @media(max-width: 1024px){
        padding: 200px 100px 100px 100px;
    }

    @media(max-width: 768px){
        flex-direction: column-reverse;
        padding: 150px 50px 50px 50px;
        height: auto;
    }
   
    &__title{
        z-index: 1;

        @media(max-width: 768px){
            text-align: center;
        }

        .title{
            color: black;
            color: transparent;
            // font-size:0px;
            font-size: 40px;

            @media(max-width: 1200px){
                font-size: 25px;   
            }

            @media(max-width: 550px){
                font-size: 18px;
            }

            span{
                display: inline-block;
                position: relative;
                overflow: hidden;
                
                &::after{
                    content:"";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top:0;
                    left:0;
                    transform: translateX(-100%);
                }
            }

            &:nth-child(1){
                font-size: 32px;
                // font-weight: 700;
                font-family: $font-text;
                animation: text-appearance 0s 1s forwards;

                @media(max-width: 1024px){
                    font-size: 20px;
                }
                @media(max-width: 550px){
                    font-size: 17px;
                }

                span::after{
                    background-color: $color-dark-secondary;
                    animation: slide-in 0.5s ease-out forwards, slide-out 0.75s 1s ease-out forwards;
                }
            }
            &:nth-child(2){
                animation: text-appearance 0s 1s forwards;
                font-weight: 800;

                span::after{
                    background-color: $color-light-secondary;
                    animation: slide-in 0.55s 0.2s ease-out forwards, slide-out 0.75s 1.03s ease-out forwards;
                }
            }
            &:nth-child(3){
                animation: text-appearance 0s 1.25s forwards;
                font-weight: 800;
                span::after{
                    background-color: $color-light-primary;
                    animation: slide-in 0.55s 0.2s ease-out forwards, slide-out 0.75s 1.3s ease-out forwards;
                }
            }

        }

        .subtitle{
            font-size: 20px;
            margin-top: 10px;

            @media(max-width: 1024px){
                font-size: 16px;
            }
            
            @media(max-width: 768px){
            padding: 0 50px;
            } 

            @media(max-width: 500px){
                padding: 0 0px;
            } 
            
            &:last-of-type{
                text-decoration: underline;
            }
        }

        .icons{
            display: flex;
            gap:20px;
            font-size: 50px;
            margin-top: 10px;

            @media(max-width: 768px){
                justify-content: center;
            }

            @media(max-width: 550px){
                font-size: 40px;
                gap: 10px;
            }

            a{
                position: relative;
                width: 50px;
                height: 50px;
                color:black;

                &:hover{
                    color: $color-dark-primary;
                }

                svg{
                    position: absolute;
                        left: 7px;
                        top: 0;
                }
            }
        }
    }

    &__picture{
        width: 500px;

        @media(max-width: 1024px){
            width: 350px;
        }

        @media(max-width: 768px){
            width: 55%;
        }

        img{
            width: 100%;
        }
    }
}

