@import '../../index.scss';

.navbar{
    position: fixed;
        left: 0;
        right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 30px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 4px 20px rgb(202, 199, 199);
    z-index: 100;

    @media (max-width: 550px){
        flex-direction: column;
    }
    
    &__logo{
        width: 140px;

        @media (max-width: 768px){
            width: 80px;
        }

        img{
            width: 100%;
        }
    }

    &__menu{

        &__list{
            display: flex;
            gap: 20px;

            @media (max-width: 768px){
                gap: 10px;
            }

            .link{
                font-size: 18px;
                font-weight: 600;
                color: black;
                text-decoration: none;
                padding: 10px;
                border-right: 1px solide white;
                border-bottom: 1px solide white;
                box-shadow: 3px 3px 3px white;
                border-radius: 0 5px 10px 5px;
                transition: color 0.3s ease, border-right 0.3s ease, border-bottom 0.3s ease, box-shadow 0.3s ease;

                @media (max-width: 768px){
                    font-size: 14px;
                    // padding: 6px;
                }

                &:hover{
                    color: $color-light-primary;
                    border-right: 2px solide grey;
                    border-bottom: 2px solide grey;
                    box-shadow: 4px 4px 4px rgb(202, 199, 199);
                }
            }
        }
    }
}