@import "../../index.scss";

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 150px 150px 100px 150px;
    height: 100vh;
    box-sizing: border-box;
    background: rgb(195,220,215);
    background: linear-gradient(0deg, rgba(195,220,215,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);

    @media(max-width: 1024px){
        padding: 150px 100px 100px 100px;
    }
    @media(max-width: 768px){
        padding: 150px 50px 50px 50px;
    }

    &__404{
        position: relative;
        font-size: 200px;

        @media(max-width: 768px){
            font-size: 120px;
        }

        @media(max-width: 425px){
            font-size: 100px;
        }

        .dark-green{
            z-index: 3; 
            color: $color-dark-primary;
        }

        .light-green{
            position: absolute;
                top: 10px;
                left: 10px;
            z-index: 2;
            color: $color-light-primary;
        }
        .light-yellow{
            position: absolute;
                top: 20px;
                left: 20px;
            z-index: 1;
            color: $color-light-secondary;
        }
    }

    p{
        font-size: 35px;
        text-align: center;

        @media(max-width: 768px){
            font-size: 25px;
        }
        
        @media(max-width: 470px){
            font-size: 16px;
        }
    }

    &__returnLink{
        padding: 10px 15px;
        font-size: 25px;
        text-decoration: none;
        color: black;
        border-radius: 10px;
        box-shadow: 5px 5px 3px rgb(133, 132, 132);
        transition: background-color 0.4s ease, box-shadow 0.4s ease;

        @media(max-width: 768px){
            font-size: 20px;
        }
        
        @media(max-width: 470px){
            font-size: 16px;
        }

        &:hover{
            background-color: rgba(255, 255, 255, 0.6);
            box-shadow: 5px 5px 6px rgb(133, 132, 132);
        }

        &:active{
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: inset 5px 5px 6px rgb(133, 132, 132);
        }
    }

}