$font-text: 'Jost', sans-serif;
$font-title: 'Bungee', sans-serif;
$color-dark-primary: #4F9083;
$color-light-primary: #A7CBC4;
$color-dark-secondary: #f3c849;
$color-light-secondary: #f8efd2;

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: $font-text;
  background-color: white
}

h2{
    font-size: 40px;
    font-weight: 800;
    
    @media(max-width: 768px){
        font-size: 30px;
    }

    @media(max-width: 425px){
        font-size: 25px;
    }
}

h3{
    font-size: 25px;
}